name: PR Checks

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  php-syntax:
    name: PHP Syntax
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "hello"

  readme-check:
    name: Validate readme.txt
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "hello"
